.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--navy-blue-color);
  z-index: 999;

  .vertical-line {
    height: 841px;
    border-left: 4px solid var(--emerald-green-color);
    margin-left: 55px;
  }

  .menu-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 31px;
    width: 30%;
    line-height: 27px;

    a {
      font-size: 1.125rem;
      font-family: var(--font-piazzolla);
      font-weight: bold;
      margin-top: 30px;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .app__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-btn {
      display: block;
    }

    .nav-close-btn {
      display: none;
    }

    .responsive_nav & {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 999;
    }
  }

  .responsive_nav .nav-btn {
    display: none;
  }

  .responsive_nav .nav-close-btn {
    display: block;
  }

  .responsive_nav .mobile-menu {
    display: block;
  }
}
