section.section {
  position: relative;
  padding-right: 1rem;
  padding-left: 1rem;

  #header {
    font-size: 0.7rem;
    font-weight: 700;
    width: 100%;
    height: 4rem;
    color: #454d5d;
    border-bottom: 1px solid rgba(172, 179, 194, 0.2);
    background: #fff;

    transition: all 0.5s ease;

    .header-fixed #header {
      position: fixed;
      z-index: 2;
      top: 0;
    }
  }

  #header.section {
    opacity: 0;
    display: block;
    width: 100px;
    height: 100vh;
    left: 0;
    top: 0;
    bottom: 0;
    padding-top: 20px;
  }

  .header-fixed.header-animated #header.section {
    background-color: transparent;
    margin-left: 10vw;
    transition: all 0.5s ease;

    @media (max-width: 1500px) {
      margin-left: 6vw;
    }

    @media (max-width: 980px) {
      margin-left: 20px;
    }
  }
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.4rem;
  padding-left: 0.4rem;
}

.container.grid-lg {
  max-width: 976px;
}

.navbar {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navbar .navbar-section {
  display: flex;
  flex: 1 0 0%;
}

#header .navbar-section {
  height: 4rem;

  @media (max-width: 840px) {
    margin-right: 2rem;
  }
}

#header .navbar-section.desktop-menu {
  // display: none;
}

#header.scrolled .navbar-section {
  height: 2.3rem;
}

.dropmenu {
  ul {
    display: flex;
    margin: 0;
    white-space: nowrap;

    li {
      position: relative;
      margin: 0;
    }

    .navigation li {
      width: 80%;
      display: inline-flex;
      padding-left: 20px;
    }
  }
  @media (max-width: 840px) {
    // display: none;
  }

  .animated ul li {
    transition: background 0.7s, color 0.5s;
  }
}

ul {
  margin: 0.8rem 0 0.8rem 0.8rem;
  padding: 0;
  list-style: disc inside;
  margin-left: 1.6rem;

  .navigation {
    width: 250px;
    white-space: inherit;
    display: block;
  }
}
