.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--navy-blue-color);
  z-index: 999;
  overflow-y: scroll;

  span {
    float: left;
    width: 5px;
    margin-left: 50px;
    margin-right: 30px;
    margin-top: 0;
    padding: 0;
    display: inline;
    background-color: var(--emerald-green-color);
    height: 153%;

    @media (max-width: 280px) {
      margin-left: 10px;
      margin-right: 20px;
    }
  }

  .menu-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 31px;
    width: 30%;
    line-height: 27px;
    margin-bottom: 52px;

    a {
      font-size: 1.125rem;
      font-family: var(--font-piazzolla);
      margin-top: 30px;
      color: #ffffff;
      text-decoration: none;
    }

    @media (max-width: 768px) {
      width: 60%;

      a {
        font-size: 1.25rem;
      }
    }

    @media (max-width: 450px) {
      width: 50%;

      a {
        font-size: 1.25rem;
      }
    }

    @media (max-width: 400px) {
      width: 70%;

      a {
        font-size: 1.25rem;
      }
    }

    @media (max-width: 390px) {
      width: 70%;
    }

    @media (max-width: 280px) {
      margin-bottom: 20px;
    }
  }

  .other-histories-button {
    background-color: var(--emerald-green-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 20px 30px 20px 30px;

    p {
      display: flex;
      width: 180px;
      gap: 1.25rem;
      justify-content: space-between;
      align-items: center;
      font-family: var(--font-ibm-plex-sans);
      font-weight: 400;
      font-size: 17px;
      color: var(--navy-blue-color);
      margin: 0 auto;
    }
  }
}

.mobile-menu::-webkit-scrollbar {
  width: 8px;
  background-color: #f1f1f1;
}

.mobile-menu::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.mobile-menu::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

@media screen and (max-width: 768px) {
  .app__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-btn {
      display: block;
    }

    .nav-close-btn {
      display: none;
    }

    .responsive-nav & {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 999;
    }
  }

  .responsive-nav .nav-btn {
    display: none;
  }

  .responsive-nav .nav-close-btn {
    display: block;
  }

  .responsive-nav .mobile-menu {
    display: block;
  }
}
