.app {
  overflow: hidden;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #3085ee;
  outline: 0;
  font-family: var(--font-ibm-plex-sans);
}

a:hover,
a:visited {
  color: var(--navy-blue-color);
}

.not-visible {
  opacity: 0;
}

.p-text {
  font-size: 1rem;
  font-family: var(--font-ibm-plex-sans);
  color: var(--nav-text-color);
}

p {
  margin: 0 0 1.2rem;
}

