.section-navigation {
  position: fixed;
  top: 0;
  bottom: 0;
  display: block;
  height: 50%;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  &.show {
    opacity: 1;
  }

  .section-navigation__list {
    display: inline-block;
    position: relative;
    line-height: 0;
    padding: 0;
    margin-left: 11.8125rem;

    &::before {
      position: absolute;
      content: "";
      background-image: url(../../assets/gray-line.png);
      height: 500px;
      margin-top: 80px;
      margin-left: 0.35rem;
      width: 6px;
    }
  }

  .section-navigation__item {
    position: relative;
    background-color: var(--gray-color);
    height: 18px;
    width: 18px;
    list-style: none;
    display: block;
    line-height: 0;
    padding: 0;
    margin: 65px 0;
    border-radius: 25px;
    cursor: pointer;

    &::after {
      position: absolute;
      content: "";
      background-color: var(--navy-blue-color);
      height: inherit;
      width: inherit;
      left: 0;
      border-radius: inherit;
      transform: scale(0);
    }
  }

  .section-navigation__heading {
    position: absolute;

    font-family: var(--font-piazzolla);
    font-size: 16px;
    line-height: 1.3125rem;
    color: var(--navy-blue-color);
    text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff,
      -1px -1px 0 #fff;

    padding-left: 40px;
    opacity: 0;
    margin: 0;
    z-index: -1;

    &::before {
      position: relative;
      display: block;
      left: -65px;
      top: 5px;
      float: none;
      content: "";
      background-image: url(../../assets/blue-line.png);
      background-repeat: no-repeat;
      height: 48px;
      width: 220px;
    }

    &.is-active {
      &::before {
        position: relative;
        display: block;
        left: -65px;
        top: 5px;
        float: none;
        content: "";
        background-image: url(../../assets/blue-line.png);
        background-repeat: no-repeat;
        height: 48px;
        width: 220px;
      }
    }
  }

  @media (max-width: 840px) {
    display: none;
  }
}

// Hover
.section-navigation li:hover {
  h2 {
    height: 100%;
    width: 227px;
    opacity: 1;
    left: 30px;

    p {
      position: absolute;
      top: 5%;
    }
  }

  &::after {
    transform: scale(1);
  }
}
